[submodule "src/rf2o_laser_odometry"]
    path = src/rf2o_laser_odometry
    url = https://github.com/20-wash/rf2o_laser_odometry.git

[submodule "src/rplidar_ros"]
    path = src/rplidar_ros
    url = https://github.com/20-wash/rplidar_ros_A1_only.git
